@mixin b-keyTerm(
	$textColor1: $primary,
	$textColor2: $DarkGrey,
	$bgColor: $lbg,
	$shadow: $lbg--shadow,
	$light: $lbg--light){

    .b-keyTerm{
        width:100%;
        margin-bottom: ms(0);
        padding-left: ms(1);
    }//end b-keyTerm
    .b-keyTerm__term{
        display:inline;
        width:auto;
        padding:0; margin:0;
        padding-right: ms(-4);
        border-bottom:0;
        @extend .font-Bd;
        color: $textColor1;
        position: relative;
        @include adjust-font-size-to($font-size-med-2);
        padding-left: ms(-5);
        &:before{
            @include obj-slash();
            height: ms(1);
            top: 0;
            left: -(ms(1));
            background-size: ms(1);
        }//end before
        &:after{
            content: ':';
        }
    }//end b-keyTerm__term
    .b-keyTerm__def{
        padding:0; margin:0;
        display:inline;
        @extend .font-Roman;
        color: $textColor2;
        @include adjust-font-size-to($font-size-med-2);
    }//end b-keyTerm__def
}@include b-keyTerm();