@mixin m-hero($textColor1: $white,
			  $textColor2: $WVUGold,
			  $bgColor: $primary,
			  $shadow: set-alpha($coolblack2, 0.5),
			  $btnColor: $tertiary,
              $photoWidth: 1720px,
              $photoHeight: 580px
			  ){
   
   $vw100-height: $photoHeight*100vw/$photoWidth;       
   
   .m-hero{
    width:100%;
    max-height:$photoHeight;
    float:left;
    position:relative;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    @include breakpoint($bp-tablet-1 $bp-desktop1-1){
      //height: $photoHeight;
    }//end bp-tablet-1
    @include breakpoint($bp-desktop2-1){
      //min-height:$photoHeight;
      //height: $vw100-height;
      //max-height:ms(16); 
    }
    
  }//end m-hero
 
  .m-hero__container{ 
      min-height:$photoHeight/1.618;
      display:flex; flex-flow: column nowrap;
      justify-content: center;  
    z-index:100;
    position:relative;
    @include breakpoint($bp-mobile2-3){
        min-height:$photoHeight;
    }
  }//end m-hero__container

  .m-hero__preHeader{
    padding-bottom: 0.382em;
    font-size: $font-size-med;
    color: $textColor1;
    .obj-preHeader{ color:$textColor1; 
      &:hover, &:focus{ color:$textColor2; text-decoration:underline;} 
    }//end obj-preHeader
  }//end m-hero__preHeader
  
  
  .m-hero__copy{
      display:flex; flex-flow: column nowrap;
      justify-content: center;
      color: $textColor1;
      text-shadow: 1px 0px 1px $shadow;
      float:left; width:100%;
      @include rhythm(0, $ms-0, $ms-0, 0, $font-size-med);  
      
      @include breakpoint($bp-mobile2-3){
        @include rhythm(0, $ms-3, $ms-3, 0, $font-size-med);  
      }//end bp-mobile2-3
      
      @include breakpoint($bp-tablet-1){
        @include rhythm(0, $ms-5, $ms-5, 0, $font-size-med);  
      }//end bp-tablet-1

      @include breakpoint($bp-desktop2-1){font-size:18px;}
       
  }//end m-hero__copy  
  .m-hero__headline{
      width:100%; float:left;
      text-transform:uppercase !important;
      font-family: $BlkCn; 
      font-weight: 900;
      margin-top:0;
       //font-size:4.5em;
       //@include vw($font-size-xxlarge-2);
      @include adjust-font-size-to($font-size-xlarge-2);  line-height: 0.8049em;
        
      @include breakpoint($bp-mobile2-1){ @include adjust-font-size-to($font-size-xxlarge);  line-height: 0.8049em; }
      @include breakpoint($bp-tablet-1){ @include adjust-font-size-to($font-size-xxlarge-2);  line-height: 0.8049em; }
      @include breakpoint($bp-desktop1-1){ @include adjust-font-size-to($font-size-xxxlarge); line-height: 0.8049em; }
  }//end m-hero_copy__title  
  .m-hero_headline__top{color: $textColor1;}//end m-hero_title__top
  .m-hero_headline__bottom{color:$textColor2}//end m-hero_title__bottom
  
  .m-hero__body{
    width:100%; float:left;
    color: $textColor1;
    //@include adjust-font-size-to($font-size-med-2);
    @include adjust-font-size-to($font-size-xlarge-2 * 0.292); line-height: 1.083em;
    margin-bottom: 0;
    margin-top: 0; 
    font-family: $Bd;
    font-weight:500;
    max-width: 20em;


    @include breakpoint($bp-mobile2-1){ @include adjust-font-size-to($font-size-xxlarge * 0.292);  line-height: 1.083em; }
    @include breakpoint($bp-tablet-1){ @include adjust-font-size-to($font-size-xxlarge-2 * 0.292);  line-height:  1.083em; }
    @include breakpoint($bp-desktop1-1){ @include adjust-font-size-to($font-size-xxxlarge * 0.292); line-height:  1.083em;} 
  }//end m-hero_copy__body
  
  .m-hero__cta{ 
    width:100%; float:left;
    position:relative; 
    display:flex; flex-flow:row nowrap;
    justify-content: flex-start;
    margin-top: ms(2);   
    @include breakpoint($bp-mobile1-1 $bp-mobile2-1){
       flex-flow: row wrap;
       .m-hero_cta__btn2{margin-top: ms(-4);}
    }///end bp
  }//end m-hero_copy__cta

  .m-hero_cta__btn1{
     margin-right: ms(-2);
     a{ 
      @include btn($btnColor, $shadow, $textColor1);
      text-decoration:none;
      &:hover, &:focus, &:active{
        color:$bgColor; 
        border-color: $textColor2;
        background:$textColor2
      }
     }//end a
    }//end .m-hero_cta__btn1

    .m-hero_cta__btn2{
     a{ 
      @include btn_outline(transparent, $shadow, $textColor1);
      box-shadow:none;
      background-image:none;
      text-decoration:none;
      //padding-right:2.618em;
      &:after{
        right: 0.618em; 
      }//end after
      &:hover, &:focus, &:active{
        color:$bgColor; 
        border-color: $textColor2;
        background:$textColor2
      }
     }//end a
    }//end .m-hero_cta__btn2 
  
  .m-hero__photo{
    width:$photoWidth/1.618;
    min-height: $photoHeight/1.618;
    float:left;
    top:0;
    z-index:0;
    position:absolute;
    
    @include breakpoint($bp-mobile2-3){
      top:0;
      bottom:auto;
      height: $photoHeight;
      width: $photoWidth;
      left: $photoWidth*(-4/12);
    }//end breakpoint bp-mobile2-3
    
    @include breakpoint($bp-tablet-1){
      left: $photoWidth*(-3/12);
    }
    
    @include breakpoint($bp-desktop1-1){
      left: $photoWidth*(-2/12);
    }//end bp-desktop1-1
    
    @include breakpoint($bp-desktop2-1){
      width: 100vw;
      min-height:$photoHeight;
      height:$vw100-height;
      left:0;
      img{
        min-height:$photoHeight;
        min-width:$photoWidth; 
      }
    }//end breakpoint bp-desktop2-1
    
    @include breakpoint($bp-desktop2-8){
      max-height:ms(16);
      overflow:hidden;
    }
    
    img{
      width:100%;
    }//end img
  }//end m-hero__photo

}//end m-hero mixin

@include m-hero();

@mixin m-hero--multiCTA($btnColor: $tertiary){
  .m-hero--multiCTA{}//end m-hero--multiCTA
  .m-hero__cta--multi{
    ul{
      padding:0; margin:0;
      li{ 
        display:inline; 
        padding-left: ms(0); 
        &:first-child{ padding-left:0;}}
    }
  }//end m-hero__cta--multi
}
@include m-hero--multiCTA();

@mixin m-hero--mini(){
  .m-hero__container{ min-height:320px; padding-top:ms(4);}
      .m-hero__photo img{ 
          min-height:320px;
          @include breakpoint($bp-mobile1-1 $bp-mobile2-3){
              width:auto; max-width: 150%; margin-left:-33%;
          }
      }
}@include m-hero--mini();


//Converts a value in pixels to it's relative size in VW units
//input: a pixel size
//output: the relative size in VW units
@function get-vw($target){
  $vw-context:($max-breakpoint * 0.01) * 1px; //1% viewport width
  @return ($target/$vw-context)* 1vw;
}//end get-vw function

@mixin vw($size){
  $max-breakpoint: 2080; //see $bp-desktop2-8 in _variables.scss
  $wide-screen: "(min-width: #{$max-breakpoint}px)";
  font-size: get-vw($size);
  
  @media #{$wide-screen}{
    font-size: $size;
  }
}//end vw mixin      

