/*ELEMENT QUERIES ////////////////////////////////////
/////////////////////////////////////////////////////*/
$test:off;  //Enable or disable testing
$eqColor: $black;
$eqColor_x-small: set-alpha($SecLightGold, 0.3);
$eqColor_small:set-alpha($SecMiddleBlue, 0.3);
$eqColor_medium:set-alpha($SecOrange, 0.3);
$eqColor_x-medium:set-alpha($SecOlive, 0.3);
$eqColor_large:set-alpha($SecLightGreen, 0.3);
$eqColor_x-large:set-alpha($SecBrown, 0.3);
$eqColor_xx-large:set-alpha($SecForest, 0.3);



@mixin m-programDir(
	$textColor: $white,
    $accentColor: $quadrary,	
	$linkColor: $white,	
	$bgColor: $primary,
	$shadow: $primary--shadow,
	$light: $primary--light){


	width:100%;
	float:left;
	@include rhythm($ms-0, 0, 0, $ms-5, $font-size-med);

	.m-programDir__opener{ 
	  h1{
	  	text-transform:uppercase;
	  	@extend .font-BlkCn;
	  	margin-bottom: ms(-1) !important;
	  } 
	  p.kicker{
	  	padding-left:0;
	  	margin:ms(2) 0 !important;
	  } 
	}//end m-programDir__opener

	.m-programDir__dept{ 
		width:100%;
		float:left;
	  h2{
	  	width:100%;
	  	max-width:100%;
	  	float:left;
	  	background:none;
	  	padding:ms(-4) 0;
	  	color:$textColor;
	  	border-bottom: 1px solid $accentColor;
		border-image:none;
	  	text-align:left;
	  	text-transform:uppercase;
	  	@include adjust-font-size-to($font-size-med-2);
	  	@include rhythm($ms-0, $ms-4n, $ms-4n, 0, $font-size-med-2);
		@extend .font-Lt;
		
	  } 

	  @include breakpoint($bp-mobile2-3){
	  	//@include grid-mobile2;
	  	//&.CATS{ @include grid-span(3,1);}
	  	//&.SS{ @include grid-span(3,4);}
	  }//end bp-mobile2-3

	  @include breakpoint($bp-desktop1-1){ 
	  	@include grid-desktop1;
		h2{ padding: ms(-4);}  
	  	&.CATS{ @include grid-span(5,1);
	  		.m-programDir__program{
	  			width:50%;
				padding: 0 ms(-4);  
	  			//margin-left:1%;
	  			//margin-right:1%
	  		}
	  	}//end CATS
	  	&.SS{ @include grid-span(7,6);
	  		.m-programDir__program{
	  			width:33.3%;
				padding: 0 ms(-4);
				//width:30.3%;
	  			//margin-left:1%;
	  			//margin-right:1%
	  		}
	  	}//end .ss

	  	.m-programDir__program h3{ 
	  		min-height: ms(5);
	  	   @include adjust-font-size-to($font-size-med);
	  	   @include rhythm($ms-3n, $ms-6n, $ms-6n, 0, $font-size-med);

	  	}//end h3
	  }//end bp-desktop1-1
	}//end m-programDir__dept

	.m-programDir__program{ 
		width:100%;
		float:left;
	  h3{
	  	width:100%;
	  	max-width:100%;
	  	float:left;
	  	color:$textColor;
	  	//padding:ms(0);
	  	text-align:left;
	  	text-transform: capitalize;	  	
	  	border-bottom:0;
	  	@include adjust-font-size-to($font-size-med);
	  	@include rhythm($ms-0, $ms-6n, $ms-6n, 0, $font-size-med);
	  } 
	  li{
	  	width:100%;
		float:left;

		a{	
			width:100%;
			float:left;
			text-align:left;
			@include adjust-font-size-to($font-size-med);
	  	    @include rhythm(0, $ms-6n, $ms-6n, 0, $font-size-med);
	  	    //border-bottom:ms(-10) solid $shadow;
	  	    //box-shadow: 0 1px 0 0 $light;
	  	    color:$linkColor;
	  	    outline:0;			  
	  	    text-decoration:underline;
	  	    &:hover, &:focus{
	  	    	color:$accentColor;
	  	    }
	  	    &:active{
	  	    	color:darken($accentColor,10);
	  	    	text-decoration:underline;
	  	    }
	  	    
		}//end a
		&:last-child a{
			border-bottom:0;
			box-shadow:none;
		}
	  }//end li
	}//end m-programDir__program





	&[data-eq-state="x-small"]{
	  @if $test=='on'{$eqColor: $eqColor_x-small; background: $eqColor; &:before{content:"x-small"; color:darken($eqColor,40);}}


	  
	  	.m-programDir__dept{ 
			  h2{ @include adjust-font-size-to($font-size-med); } 
		}//end m-programDir__dept
	  	.m-programDir__program{ h3{ } }//end m-programDir__program		
	  	.m-programDir__program_bs a{ span{} }//end m-programDir__program_bs	
	  	.m-programDir__program_ms a{ span{} }//end m-programDir__program_ms
	  	.m-programDir__program_ms.online a{ span{} }//end m-programDir__program_ms.online		
	  	.m-programDir__program_doc a{ span{} }//end m-programDir__program_doc
	  
	}//end x-small

	&[data-eq-state="small"]{
	  @if $test=='on'{$eqColor: $eqColor_small; background: $eqColor; &:before{content:"small"; color:darken($eqColor,40);}}


	  
	  	.m-programDir__dept{ h2{} ul{} }//end m-programDir__dept
	  	.m-programDir__program{ h3{} li{}}//end m-programDir__program		
	  	.m-programDir__program_bs a{ span{} }//end m-programDir__program_bs	
	  	.m-programDir__program_ms a{ span{} }//end m-programDir__program_ms
	  	.m-programDir__program_ms.online a{ span{} }//end m-programDir__program_ms.online		
	  	.m-programDir__program_doc a{ span{} }//end m-programDir__program_doc
	  
	}//end x-small

	&[data-eq-state="medium"]{
	  @if $test=='on'{$eqColor: $eqColor_medium; background: $eqColor; &:before{content:"medium"; color:darken($eqColor,40);}}


	  
	  	.m-programDir__dept{ 
	  	  h2{ @include adjust-font-size-to($font-size-med); } 
	  	  ul{}
		  @include grid-mobile2;
	  	  &.CATS{ @include grid-span(3,1);}
	  	  &.SS{ @include grid-span(3,4);}	 
	  	  //&.SS h2{line-height:60px;}
	  	}//end m-programDir__dept
	  	.m-programDir__program{ 
	  	  h3{ } 
	  	  li{}
	  	}//end m-programDir__program		
	  	.m-programDir__program_bs a{ span{} }//end m-programDir__program_bs	
	  	.m-programDir__program_ms a{ span{} }//end m-programDir__program_ms
	  	.m-programDir__program_ms.online a{ span{} }//end m-programDir__program_ms.online		
	  	.m-programDir__program_doc a{ span{} }//end m-programDir__program_doc
	  
	}//end x-small 

	&[data-eq-state="x-medium"]{
	  @if $test=='on'{$eqColor: $eqColor_x-medium; background: $eqColor; &:before{content:"x-medium"; color: darken($eqColor,40);}}


	  	.m-programDir__opener h1{ font-size:ms(6) !important;}
	  	.m-programDir__dept{ 
		  @include grid-mobile2;
	  	  &.CATS{ @include grid-span(3,1);}
	  	  &.SS{ @include grid-span(3,4);}	
		}//end m-programDir__dept
	  	.m-programDir__program{ 
	  	  h3{} 
	  	  li{}
	  	}//end m-programDir__program		
	  	.m-programDir__program_bs a{ span{} }//end m-programDir__program_bs	
	  	.m-programDir__program_ms a{ span{} }//end m-programDir__program_ms
	  	.m-programDir__program_ms.online a{ span{} }//end m-programDir__program_ms.online		
	  	.m-programDir__program_doc a{ span{} }//end m-programDir__program_doc
	  
	}//end x-small

	&[data-eq-state="large"]{
	   @if $test=='on'{$eqColor: $eqColor_large; background: $eqColor; &:before{content:"large"; color: darken($eqColor,40);}}


	  	.m-programDir__opener h1{ font-size:ms(7) !important;}
	  	.m-programDir__dept{ h2{} ul{} }//end m-programDir__dept
	  	.m-programDir__program{ 
	  	  h3{  min-height:ms(5); } 
	  	  li{}
	  	}//end m-programDir__program		
	  	.m-programDir__program_bs a{ span{} }//end m-programDir__program_bs	
	  	.m-programDir__program_ms a{ span{} }//end m-programDir__program_ms
	  	.m-programDir__program_ms.online a{ span{} }//end m-programDir__program_ms.online		
	  	.m-programDir__program_doc a{ span{} }//end m-programDir__program_doc
	  
	}//end x-small

	&[data-eq-state="x-large"]{
	   @if $test=='on'{$eqColor: $eqColor_x-large; background: $eqColor; &:before{content:"x-large"; color:darken($eqColor,40);}}


	  	.m-programDir__opener h1{ font-size:ms(8) !important;}
	  	.m-programDir__dept{ h2{} ul{} }//end m-programDir__dept
	  	.m-programDir__program{ 
	  	  h3{min-height:ms(5);} 
	  	  li{}
	  	}//end m-programDir__program		
	  	.m-programDir__program_bs a{ span{} }//end m-programDir__program_bs	
	  	.m-programDir__program_ms a{ span{} }//end m-programDir__program_ms
	  	.m-programDir__program_ms.online a{ span{} }//end m-programDir__program_ms.online		
	  	.m-programDir__program_doc a{ span{} }//end m-programDir__program_doc
	  
	}//end x-small

	&[data-eq-state="xx-large"]{
	   @if $test=='on'{$eqColor: $eqColor_xx-large; background: $eqColor; &:before{content:"xx-large"; color:darken($eqColor,40);}}


	  	.m-programDir__opener h1{ font-size:ms(8) !important;}
	  	.m-programDir__dept{ h2{} ul{} }//end m-programDir__dept
	  	.m-programDir__program{ 
	  	  h3{min-height:auto;} 
	  	  li{}
	  	}//end m-programDir__program		
	  	.m-programDir__program_bs a{ span{} }//end m-programDir__program_bs	
	  	.m-programDir__program_ms a{ span{} }//end m-programDir__program_ms
	  	.m-programDir__program_ms.online a{ span{} }//end m-programDir__program_ms.online		
	  	.m-programDir__program_doc a{ span{} }//end m-programDir__program_doc
	  
	}//end x-small

}//end mixin

.m-programDir{
	@include m-programDir();
}
