#s-academic_header{
	.m-academic_header__CTA{
		.m-academic_header__CTA__degree{
			@include breakpoint($bp-mobile1-1){
			      a{
			        @include adjust-font-size-to($font-size-small-2);
			        @include rhythm(0, $ms-5n, 0, 0, $font-size-small-2);
			      }
			}//end $bp-mobile2-1

			@include breakpoint($bp-mobile2-1){
			      a{
			        @include adjust-font-size-to($font-size-small-2);
			         @include rhythm(0, $ms-4n, 0, 0, $font-size-small-2);
			      }
			}//end $bp-mobile2-1

			@include breakpoint($bp-tablet-1){
			  a{
			    @include adjust-font-size-to($font-size-med);
			    @include rhythm(0, $ms-3n, 0, 0, $font-size-med);
			  }
			}//end $bp-tablet1-1

			@include breakpoint($bp-desktop1-1){
			 
			  a{
			    @include adjust-font-size-to($font-size-med);
			    @include rhythm(0, $ms-2n, 0, 0, $font-size-med);
			  }
			
			}//end $bp-dekstop1-1

			@include breakpoint($bp-desktop2-1){

				a{
			    @include adjust-font-size-to($font-size-med-2);
			    @include rhythm(0, $ms-2n, 0, 0, $font-size-med-2);
			  }

			}//end $bp-desktop2-1

			@include breakpoint($bp-desktop2-6){
			
			  a{
			    @include adjust-font-size-to($font-size-large);
			    @include rhythm(0, $ms-1n, 0, 0, $font-size-large);
			  }
			}//end $bp-desktop2-6
		}//end .m-academic_header__CTA__degree


		.m-academic_header__CTA__links{
		  @include breakpoint($bp-mobile1-1){
		        a{
		          @include adjust-font-size-to($font-size-small);
		          @include rhythm($ms-5n, 0, $ms-11n, $ms-7n, $font-size-small);
		        }
		  }//end $bp-mobile2-1

		  @include breakpoint($bp-mobile2-1){
		        a{
		          @include adjust-font-size-to($font-size-small-2);
		           @include rhythm($ms-5n, 0, $ms-11n, $ms-7n, $font-size-small-2);
		        }
		  }//end $bp-mobile2-1

		  @include breakpoint($bp-tablet-1){
		    a{
		      @include adjust-font-size-to($font-size-small);
		      @include rhythm($ms-2n, 0, $ms-11n, $ms-4n, $font-size-small);
		    }
		  }//end $bp-tablet1-1

		  @include breakpoint($bp-desktop1-1){
		   
		    a{
		      @include adjust-font-size-to($font-size-small-2);
		      @include rhythm($ms-2n, 0, $ms-11n, $ms-4n, $font-size-small-2);
		    }
		  
		  }//end $bp-dekstop1-1

		  @include breakpoint($bp-desktop2-1){

		  	a{
		      @include adjust-font-size-to($font-size-med);
		      @include rhythm($ms-1n, 0, $ms-9n, $ms-4n, $font-size-med);
		    }

		  }//end $bp-desktop2-1

		  @include breakpoint($bp-desktop2-6){
		  
		    a{
		      @include adjust-font-size-to($font-size-med);
		      @include rhythm($ms-0, 0, $ms-9n, $ms-4n, $font-size-med);
		    }
		  }//end $bp-desktop2-6
		}// end .m-academic_header__CTA__links
	}//end .m-academic_header__CTA




	.b-academic_programName{
	  h1{
	  	text-transform:uppercase;
			@extend .font-BlkCn;
	  }
	  h1 em{
	    @extend .font-Lt;
	    color:$MidGrey;
	    font-style:normal;
	    text-transform:uppercase;
			display:none;
	  }

    @include breakpoint($bp-mobile1-1){
          h1{
            @include adjust-font-size-to($font-size-large);
            @include rhythm($ms-3, 0, 0, $ms-1n, $font-size-large);
          }
    }//end $bp-mobile2-1

    @include breakpoint($bp-mobile2-1){
          h1{
            @include adjust-font-size-to($font-size-large-2);
            @include rhythm($ms-2, 0, 0, $ms-1n, $font-size-large-2);
          }
    }//end $bp-mobile2-1

    @include breakpoint($bp-tablet-2){
      h1{
        @include adjust-font-size-to($font-size-xlarge);
        @include rhythm($ms-3, 0, 0, $ms-1n, $font-size-xlarge);
      }
    }//end $bp-tablet1-2

    @include breakpoint($bp-desktop1-4){
     
      h1{
        @include adjust-font-size-to($font-size-xlarge-2);
        @include rhythm($ms-3, 0, 0, $ms-3, $font-size-xlarge-2);
      }
    
    }//end $bp-dekstop1-4

    @include breakpoint($bp-desktop2-4){

    	h1{
        @include adjust-font-size-to($font-size-xxlarge);
        @include rhythm($ms-3, 0, 0, $ms-3, $font-size-xxlarge);
      }

    }//end $bp-desktop2-4

	}//end .b-academic_programName
	.m-academic_pageNav{}
}//end #s-academic_header