@mixin s-announcements(
	$textColor1: $primary,
	$textColor2: $DarkGrey,
	$bgColor: $quadrary,
	$btnColor: $primary,
	$btnColor2: $white,
	$shadow: darken($quadrary, 3),
	//$shadow: darken($bgColor, 3), 
	$light: lighten($quadrary, 3)){


    .s-announcements{
      width:100%; float:left;        
	  background: url(../images/wvu-pattern-background--gold-fade.png) no-repeat top center $bgColor;
	//background-size: contain;
	.container{
	  @include rhythm(0, $ms-4, $ms-4, 0, $font-size-med);
	}//end container
    }//end s-announcements

    .s-announcements__shout h2{
	     text-transform: uppercase;
			 text-align:center; 
			 font-size: $font-size-xxlarge-2;
			 line-height: $lh-wvu-headline;
			 color:$textColor1;
			 border-bottom:0;
		   padding-bottom:ms(2);
			 @extend .font-BlkCn;
			@include breakpoint($bp-mobile1-1){ @include adjust-font-size-to($font-size-large-2);line-height: $lh-wvu-headline; }
			@include breakpoint($bp-mobile2-1){ @include adjust-font-size-to($font-size-xlarge);line-height: $lh-wvu-headline;}
     	@include breakpoint($bp-tablet-1){ @include adjust-font-size-to($font-size-xlarge-2); line-height:$lh-wvu-headline;}
     	@include breakpoint($bp-desktop1-3){ @include adjust-font-size-to($font-size-xxlarge); line-height: $lh-wvu-headline;}
     	@include breakpoint($bp-desktop2-4){ @include adjust-font-size-to($font-size-xxlarge-2); line-height:$lh-wvu-headline;}
    }

    .s-announcements__content{
        h1, h2, h3, h4, h5, h6{ color:$textColor1;}
        p, strong, em, i, b{color:$textColor2;} 
        @include obj-multiCol(auto, $bgColor, $shadow, $light);
    }

		//GRID
    .s-announcements{
      @include breakpoint($bp-mobile1-1){
    	@include grid-mobile1;  //four columns
    	.s-announcements__shout{@include grid-span(4,1); float:none;}//end s-announcement__shout
    	.s-announcements__content{@include grid-span(4,1); clear:both;  float:none;}//end s-announcement__news
      }
      @include breakpoint($bp-mobile2-1){
    	@include grid-mobile2;  //six columns
    	.s-announcements__shout{@include grid-span(6,1); float:none;}//end s-announcement__shout
    	.s-announcements__content{@include grid-span(6,1); clear:both;  float:none;}//end s-announcement__news
      }
      @include breakpoint($bp-tablet-1){
    	@include grid-tablet;  //eight columns
    	.s-announcements__shout{@include grid-span(8,1); float:none;}//end s-announcement__shout
    	.s-announcements__content{@include grid-span(6,2); clear:both;  float:none;}//end s-announcement__news
      }
      @include breakpoint($bp-desktop1-1){
    	@include grid-desktop1;   //twelve columns
    	.s-announcements__shout{@include grid-span(12,1); float:none;}//end s-announcement__shout
    	.s-announcements__content{@include grid-span(8,3); clear:both;  float:none;}//end s-announcement__news
      }
      @include breakpoint($bp-desktop2-1){
    	@include grid-desktop2;  //sixteen columns
    	.s-announcements__shout{@include grid-span(16,1); float:none;}//end s-announcement__shout
    	.s-announcements__content{@include grid-span(12,3); clear:both;  float:none;}//end s-announcement__news
      }
    }//end s-announcements



    
}@include s-announcements();

